{% extends 'base.html' %}

{% block content %}
<div class="section wb">
    <div class="container">
        <h2>{% if form.instance.pk %}Edit Course{% else %}Add New Course{% endif %}</h2>
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Save Course</button>
            
            {% if form.instance.pk %}
            <a href="{% url 'delete_course' form.instance.slug %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}